
table {
	border-collapse:collapse; 
	table-layout:fixed; 
	width:750px;
	background-color:#c7c5c5ee;

} 


body {
    background-color: #222;
    font-family: 'Roboto',sans-serif;
}


th { 
	padding: 10px; 
} 

th:hover{
	background-color:grey;
	font-size: 25px;
	background-color:#c7c5c5;
	
}

table, th, td {  
	word-wrap:break-word;
	border: 1px solid black;
	border-collapse: collapse;
}

.bingo_card{
	background-image: url('background.png');
	background-repeat:no-repeat;
	background-size:900px, 300px;
}

.bingo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translatex(-50%);
    display: inline-flex;
    overflow: hidden;
}

.bingo .stars {
    z-index: 100;
    width: 32px;
    background-color: #014e6c;
    background-image: url(/images/star.svg);
    background-repeat: repeat-y;
    background-size: 18px;
    background-position: center top;
}

.bingo .stripes {
    background-image: repeating-linear-gradient(#fe3837 0, #fe3837 3%, #fff 3%, #fff 6%);
    position: absolute;
    left: -30px;
    right: -30px;
    top: -30px;
    bottom: -30px;
    z-index: 0;
    transform: rotate(-3deg);
    -webkit-backface-visibility: hidden;
}

.bingo .card {
    margin-top: 154px;
    position: relative;
    padding: 26px 26px 16px;
    z-index: 10;
}

.bingo .heading {
    position: absolute;
    top: 20px;
    left: -30px;
    right: -30px;
    text-align: center;
    background-color: #014e6c;
    height: 130px;
    z-index: 0;
    transform: rotate(-3deg);
    -webkit-backface-visibility: hidden;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 800;
    font-size: 42px;
    flex-flow: column;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 7px rgba(0,0,0,0.3);
}

.bingo .heading .sub {
    font-size: 18px;
    font-weight: 500;
}